<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Awesome Ecommerce | Store</title>
		<meta name="description" content="This is the description" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
		<link rel="stylesheet" href="styles.css" />
		<script src="https://checkout.stripe.com/checkout.js" defer></script>
		<script>
			var stripePublicKey = "<%= stripePublicKey %>";
		</script>
		<script src="store.js" defer></script>
	</head>

	<body>
		<header class="main-header">
			<h1 class="band-name band-name-large">Awesome Ecommerce</h1>
		</header>

		<div class="coverdiv">
			<section class="container content-section">
				<h2 class="section-header">MISCELLANEOUS</h2>
				<div class="shop-items">
					<% items.music.forEach(function(item){ %>
					<div class="shop-item" data-item-id="<%= item.id %>">
						<span class="shop-item-title"><%= item.name %></span>
						<img class="shop-item-image" src="Images/<%= item.imgName %>" />
						<div class="shop-item-details">
							<span class="shop-item-price">$<%= item.price/100 %></span>
							<button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
						</div>
					</div>
					<% }) %>
				</div>
			</section>

			<section class="container content-section">
				<h2 class="section-header">MERCH</h2>
				<div class="shop-items">
					<% items.merch.forEach(function(item){ %>
					<div class="shop-item" data-item-id="<%= item.id %>">
						<span class="shop-item-title"><%= item.name %></span>
						<img class="shop-item-image" src="Images/<%= item.imgName %>" />
						<div class="shop-item-details">
							<span class="shop-item-price">$<%= item.price/100 %></span>
							<button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
						</div>
					</div>
					<% }) %>
				</div>
			</section>

			<section class="container content-section">
				<h2 class="section-header">CART</h2>
				<h2 id='success1'>Purchase Success⚡</h2>
				<div class="cart-row">
					<span class="cart-item cart-header cart-column">ITEM</span>
					<span class="cart-price cart-header cart-column">PRICE</span>
					<span class="cart-quantity cart-header cart-column">QUANTITY</span>
				</div>
				<div class="cart-items"></div>
				<div class="cart-total">
					<strong class="cart-total-title">Total</strong>
					<span class="cart-total-price">$0</span>
				</div>
				<button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
			</section>
		</div>
		<footer class="main-footer">
			<div class="container main-footer-container">
				<h3 class="band-name">Awesome Ecommerce</h3>
				<ul class="nav footer-nav">
					<li>
						<a href="https://linkedin.com/in/sandipan0164" target="_blank">
							<i class="fab fa-linkedin fa-2x"></i>
						</a>
					</li>
					<li>
						<a href="https://www.instagram.com/sandipan_2224/" target="_blank">
							<i class="fab fa-instagram fa-2x"></i>
						</a>
					</li>
					<li>
						<a href="https://github.com/sandip2224" target="_blank">
							<i class="fab fa-github fa-2x"></i>
						</a>
					</li>
				</ul>
			</div>
		</footer>
	</body>
</html>
